<p id="notice"><%= notice %></p>
<nav class="navbar navbar-light bg-light">
  <div> Sort By  <%= link_to "Like", movies_path(filter: 'like') %>
    | <%= link_to "Hate", movies_path(filter: 'hate') %>
    | <%= link_to "Date", movies_path(filter: 'date') %></div>
</nav>

<%= render 'movies/movies_list', movies: @movies %>